.log_Container {

}
.log_Container button{
    width: 80px;
    border-radius: 5px;
    transition:0.2s ;
    font-family: 'Poppins', sans-serif;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FFC107FF;
    border: none;
    color: white;
    letter-spacing: 1.5px;
}
.log_Container button:focus{
    outline: none;
}
.log_Container button:hover {
    cursor: pointer;
    transition: 0.2s;
}
